###### Requirements with Version Specifiers ######

aiohttp
aiohttp[speedups]
appdirs
asn1crypto
async-timeout
discord.py
mysql-connector-python==8.0.14
numpy
pandas
python-dateutil
python-dotenv
requests
