[Unit]
Description=Sundance
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u sundance.py
WorkingDirectory=/home/github/Discord-Bot
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target