<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Home</title>
   <!-- Bootstrap core CSS -->
   <!--link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"-->
   <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="../static/css/main.css">

   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

   <link rel="icon" href="https://drive.google.com/uc?export=view&id=1GRYmllW4Ig9LvsNldcOyU3rpbZPb6fD_">
 </head>
    <body >
        

        <div class="titleBox" >
            <div class="title">
                <div class="row centered">
                    <div class="col-lg-12">
                        <h2 class="titleText">Michael J. Scarfi</h2>
                        <hr>
                        <h3><a href="https://destiny.scarfi.me/sundance">Sundance Discord Bot</a> |
                            <a href="https://destiny.scarfi.me/analysis">Destiny 2 Crucible Analysis</a> |
                            <a href="https://destiny.scarfi.me/resume">Resume</a> 
                        </h3>
                    </div><!--/.col-lg-12-->
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!--/.#headerwrap-->

            
                
    </body>


    
</html>