.main {
    color: rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
    background-color: rgb(49, 50, 51);
}

a {
    color: rgb(25, 144, 255);
}

h5 {
    font-size: 120%;
}

t {
    font-size: 120%;
    font-style: italic;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

sm {
    font-size: 95%;
}

/* Split the screen in half */
.split {
    height: 100%hv;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 0;
  }
  
/* Control the left side */
.left {
    padding: 10px;
    float: left;
    width: 75%;
    height: 100%;
    overflow: scroll;
  }
  
  /* Control the right side */
.right {
    padding: 10px;
    float: left;
    width: 20%;
    height: 100%
  }

.margin {
    color: rgb(49, 50, 51);
    background-color: rgb(216, 216, 216);
    font-family: 'Lato', sans-serif;
}

.skills {
    font-family: 'Roboto', sans-serif;
}



html{
    margin: 0;
    height: 100%;
}

body {
    background-image: url("https://drive.google.com/uc?export=view&id=15VDpoO9l-NS7lSoIf7Wfe2AcdjYr24Rk");
    background-color: #1d1d1d;
    background-size: cover;
    backdrop-filter: blur(6px);
    height: 100%;
}

.center {
    margin: auto;
    width: 1000px;
    position: relative;
    height: 100%;
}