.main {
    color: rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
    max-width: 800px;
    background-color: rgb(49, 50, 51);
}


h5 {
    font-size: 120%;
}

t {
    font-size: 120%;
    font-style: italic;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

sm {
    font-size: 95%;
}

/* Split the screen in half */
.split {
    height: 100%;
    padding: 10px;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
  }
  
/* Control the left side */
.left {
    left: 0;
    width: 780px;
  }
  
  /* Control the right side */
.right {
    left: 800px;
    width: 200px;
  }

.margin {
    color: rgb(49, 50, 51);
    background-color: rgb(216, 216, 216);
    font-family: 'Lato', sans-serif;
}

.skills {
    font-family: 'Roboto', sans-serif;
}
